.container{
    display: flex;
   margin: 50px 100px;
}
.container img{
    width: 172px;
height: 172px;
margin-top: 70px;
}
.div1{
    width: 548px;
    height: 652px;
    background: #CCCEA7;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}
.container h3{
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
}
.container h1{
font-family: Playfair Display;
font-size: 84px;
font-weight: 600;
line-height: 112px;
letter-spacing: 0em;
text-align: center;
margin: 0;
}
.container h5{
    font-family: Playfair Display;
font-size: 36px;
font-weight: 600;
line-height: 48px;
letter-spacing: 0em;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}
.container button{
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    width: 170px;
    height: 48px;
}
.container button:hover{
    border: 1px solid #eb2626;
    background-color: transparent;
    color: black;
    font-weight: 800;
}
.div2{
    width: 548px;
    height: 652px;
    background: #D6BEBE;  
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service{
    background: #F5F4F2;
    height: 212px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
@media screen and (max-width:1240px){
    .div1{
        width: 550px;
        height: 550px;
    }
    .container h3{   
        font-size: 30px;
        line-height: 40px;
    }
    .container h1{
    font-size: 50px;
    line-height: 30px;
    }
    .container h5{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    }
    .div2{
        width: 550px;
        height: 550px;
    }
}

@media screen and (max-width:980px){
    .container{
       margin: 50px 50px;
    }
    .container img{
        width: 100px;
        height: 100px;
        margin-top: 20px;
    }
    .div1{
        width: 400px;
        height: 400px;
        margin-right: 40px;
    }
    .container h3{   
        font-size: 25px;
        line-height: 40px;
    }
    .container h1{
    font-size: 40px;
    line-height: 30px;
    }
    .container h5{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    }
    .div2{
        width: 400px;
        height: 400px;
    }
}
@media screen and (max-width:520px){
    .container{
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
     }
     .div2{
        width: 100%;
    }
    .div1{
        width: 100%;
    }
    .service img{
        width:30px;
    }
    .service h4{
        font-size: 10px;
    }
    .service{
        margin-left: 50px;
        margin-right: 50px;
    }
}